*{
    padding: 0;
    margin: 0;

}

.root{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.timeLineContainer{
    display: flex;
    border: 1px solid black;
}
#timeLineCanvas {
    border: 1px solid black;
    image-rendering: auto;
}